*{
    margin: 0;
    padding: 0;
}
.box{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.heading{
    text-align: center;
}
.card{
    background-color: aliceblue;
    padding: 2rem;
    border-radius: 6px;
}
.card:hover{
    box-shadow: 0px 0px 5px 5px rgb(101, 136, 131);
}
.top{
    background-color: orange;
    margin: 5px;
    padding: 3px;
    border-radius: 3px;
}
.form{
    margin: 7px;
}
.we{
    margin-top: 10px;
    font-size: larger;
    font-family: sans-serif;
}
.we2{
    padding: 0.5rem;
}
button{
    margin-top: 20px;
    background-color: darkolivegreen;
    color: white;
    font-size: larger;
    padding: 5px;
    text-align: center;
}
button:hover{
    background-color: lightgreen;
    color: black;
}
.result{
    background-color: chartreuse;
    font-size: x-large;
    padding: 5px;
}

.quotes{
    font-size: larger;
    font-style: italic;
    color: rgb(88, 89, 90);
    position: absolute;
    top: 0px;
    padding: 2rem;
    text-align: center;
    background-color: blanchedalmond;
    box-sizing: border-box;
    width: 100%;
    transition: background-color 2s ease;
}
